.nav {
  margin-top: 1.4rem;
  flex-direction: column;
  &__menu {
    display: none;
  }
  &__content {
    display: flex;
    gap: 1rem;
  }
  &__profile {
    display: flex;
    gap: 0.5rem;
    &-info {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.2rem;
    }
    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__theme {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 4rem;
    border-radius: var(--border-radius-1);
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      height: 100%;
      font-size: 1.4rem;
    }
    span.active {
      background-color: var(--color-primary);
      color: white;
      padding: 4px;
      height: 100%;
      border-radius: var(--border-radius-1);
    }
  }
}
