.reminders {
  margin-top: 2rem;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.4rem;
  }
  span {
    border-radius: 50%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 8px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover {
      box-shadow: none;
    }
  }
}