.users {
  margin-top: 1.3rem;
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: none;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
    }
  }
}